.blue-theme {
	--main-color: #15202b;
	--secondary-color: #192734;

	--border-color: #164d56;

	--main-text: #fff;
	--secondart-text: #eeeeee;

	--theme-dot-border: #fff;

	--preview-bg: rgb(25, 39, 52, 0.8);
	--preview-shadow: #111921;

	--button-color: #17a2b8;
}

.green-theme {
	--main-color: #606b56;
	--secondary-color: #515a48;

	--border-color: #161914;

	--main-text: #fff;
	--secondart-text: #eeeeee;

	--theme-dot-border: #fff;

	--preview-bg: rgb(81, 90, 72, 0.8);
	--preview-shadow: #2a2f25;

	--button-color: #669966;
}

.purple-theme {
	--main-color: #46344e;
	--secondary-color: #382a3f;

	--border-color: #1d1520;

	--main-text: #fff;
	--secondart-text: #eeeeee;

	--theme-dot-border: #fff;

	--preview-bg: rgb(29, 21, 32, 0.8);
	--preview-shadow: #2b202f;

	--button-color: #8534a3;
}
